*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
header{
    background-color: #f695c9;
    display: flex;
    justify-content: center;
    height: 20%;
    gap: 200px;
}
#fotojoana{
    display: flex;
    justify-content: start;
}
#fotojoana img{
    width: 360px;
}
nav{
    display: flex;
    margin: 35px;
    gap: 70px;
    
}
nav a{
    font-size: 28px;
    text-decoration: none;
    color: aliceblue;
    padding: 27px;
    background-color: #dd3c92;
    border-radius: 20px;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 80px;
    margin: 50px 50px;
}
#containerServicos{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    height: 100vh;
    flex-wrap: wrap;
}
.fotoServicos img{
    width: 300px;
    border-radius: 100%;
    gap: 50px;
    border: solid 3px #f695c9;
}
.fotoServicos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    width: 30%;
}
.fotoServicos h3{
    display: flex;
    font-size: 40px;
    background-color: #df519c;
    color: aliceblue;
    padding: 30px;
    border-radius: 40px;
    border: solid 1px rgb(158, 158, 158);
}